:ruby
  options ||= {}
  options.merge!({
    publishing_logic: f.object.respond_to?(:published_flag),
  })


.row-fluid
  .form-inputs.span8
    = f.error_notification
    - base_errors(f)

    = render "admins/#{view_dir_for(f.object)}/form_content", f: f


  - if f.object.persisted? && options[:publishing_logic]
    .sidebar.span4
      - if options[:publishing_logic]
        .bubblebox
          %section.publishing.bubble
            .page-header
              %h2= t('form.publish')
            = render 'admins/shared/publishing', f: f, resource: f.object #, no_publishing_end_date: true
