:ruby
  content_for(:custom_style) do
    "gridStyle"
  end
  content_for(:custom_script) do
    "gridEditor" if @cell_set.persisted?
  end
  content_for(:custom_javascript) do
    "APPLICATION.cells = #{render('cells.json')};".html_safe
  end
  options ||= {}
  options.merge!({
    publishing_logic: f.object.respond_to?(:published_flag),
  })

.form-inputs
  = render "admins/#{view_dir_for(f.object)}/form_content", f: f

  - if options[:publishing_logic]
    .bubblebox
      %section.publishing.bubble
        .page-header
          %h2= t('form.publish')
        = render 'admins/shared/publishing', f: f, resource: f.object #, no_publishing_end_date: true

.row-fluid
  - if f.object.persisted?
    %section.grid-editor.span12
      .main-content-wrapper.bubblebox
        .main-content.bubble
          .row-fluid
            #boundsForGrid
              #grid

            #tabs
              %ul
                %li
                  %a(href="#usedContentCells")= t('set.tabs.used_cells')
                %li
                  %a(href="#availableContentCells")= t('set.tabs.available_cells')


              #usedContentCells
                %h3= t('set.tabs.used_cells')
                #usedContentCellTable.cellTable

              #availableContentCells
                %h3= t('set.tabs.available_cells')
                #filter
                  %form#filter{ :action => "", :method => "get"}
                    %label(for="searchTerm") Filter
                    %select#cellType
                      %option(value="all") All types
                      - Cell::TYPES.each do |type|
                        %option{value: type}= type.to_s.humanize

                  containing
                  %input(type="text" id="searchTerm" name="searchTerm" spellcheck="false" autocorrect="off" value="" autocapitalize="off")

                #availableContentCellTable.cellTable

            = render "edit_cell"

            = render "delete_cell"

            #emptyCell.cell
