:ruby
  content_for(:custom_style) do
    "gridStyle"
  end
  content_for(:custom_script) do
    "gridEditor" if @cell_set.persisted?
  end
  content_for(:custom_javascript) do
    "APPLICATION.cells = #{render('cells.json')};".html_safe
  end
  options ||= {}
  options.merge!({
    publishing_logic: f.object.respond_to?(:published_flag),
  })

.form-inputs
  = render "admins/#{view_dir_for(f.object)}/form_content", f: f

  - if options[:publishing_logic]
    .bubblebox
      %section.publishing.bubble
        .page-header
          %h2= t('form.publish')
        = render 'admins/shared/publishing', f: f, resource: f.object #, no_publishing_end_date: true

.row-fluid
  - if f.object.persisted?
    %section.grid-editor.span12
      .main-content-wrapper.bubblebox
        .main-content.bubble
          .row-fluid
            #columnButtons
            #boundsForGrid
              #grid

            #rowButtons

            #tabs
              %ul
                %li
                  %a(href="#createBasicContentCells" title="Create title, image, link and other cells")= "Basic Cells"

                %li
                  %a(href="#pbaTabContentContainer" title="Pina Bausch Foundation archive material")= "Pina Bausch Foundation"

                %li
                  %a(href="#pm2TabContentContainer" title="Use videos and annotations from Piecemaker 2")= "Piecemaker 2"

                %li
                  %a(href="#youtubeContentCells" title="Search YouTube for videos")= "YouTube"

                %li
                  %a(href="#vimeoContentCells" title="Search Vimeo for videos")= "Vimeo"

                %li
                  %a(href="#usedContentCells" title="The cells that are already in this set")= "Set Cells"

                %li
                  %a(href="#availableContentCells" title="Cells that have been preconfigured")= "Preconfigured Cells"

              #createBasicContentCells
                .cellTable

              #usedContentCells
                #usedContentCellTable.cellTable

              #availableContentCells
                #filter
                  %label(for="searchTerm")
                    = t('grid_editor.filter.title')
                  %select#cellType
                    %option(value="all")
                      = t('grid_editor.filter.all_types')
                    - Cell::TYPES.each do |type|
                      %option{value: type}= type.to_s.humanize

                  %label= t('grid_editor.filter.containing')
                  %input(type="text" id="searchTerm" name="searchTerm" spellcheck="false" autocorrect="off" value="" autocapitalize="off")

                #availableContentCellTable.cellTable

              #youtubeContentCells
                #searchYouTube.table-header-form
                  %form
                    %input(type="text" id="searchTermYT" name="searchTerm" spellcheck="false" autocorrect="off" value="" autocapitalize="off")
                    %button= "Search"

                #youtubeContentCellTable.cellTable

              #vimeoContentCells
                .table-header-form
                  %form
                    %input(type="text" id="vimeoSearchTerm" spellcheck="false" autocorrect="off" value="" autocapitalize="off")
                    %button= "Search"

                .cellTable
              
              #pbaTabContentContainer
                #navPbArchive.table-header-form
                  %a#pieces(href="#")= "Stücke"
                  %a#people(href="#")= "Personen"
                  %a#locations(href="#")= "Orte"

                #pbaContentCellTable.cellTable

              #pm2TabContentContainer
                #pm2TabContent

            = render "edit_cell"

            = render "delete_cell"

            #emptyCell.cell

-# This is part of the YouTube search tab
%script(src="https://apis.google.com/js/client.js?onload=googleApiClientReady")
