:ruby
  content_for(:custom_style) do
    "gridStyle"
  end
  content_for(:custom_script) do
    "gridEditor"
  end
  options ||= {}
  options.merge!({
    publishing_logic: f.object.respond_to?(:published_flag),
  })


.row-fluid
  - if f.object.persisted?
    %section.grid-editor.span8
      .main-content-wrapper.bubblebox
        .main-content.bubble
          .page-header
            %h2= t('set.grid_editor')

          .row-fluid
            #boundsForGrid
              #grid
            
            #tabs
              %ul
                %li
                  %a(href="#usedContentCells") Used Cells
                %li
                  %a(href="#availableContentCells") Available Cells

              #usedContentCells
                %h3 Used Cells
                %table#usedContentCellTable.cellTable
                  %tr
              #availableContentCells
                %h3 Available Cells
                %table#availableContentCellTable.cellTable
                  %tr

            #dialog-modal.Basic.modal.dialog(title="Edit Cell")
              %form#editCell
                %p Title
                %p
                  %input#editTitle(type="text" name="title")
                %p Type
                %p
                  %input#type.textInEdit
                %p Description
                %p
                  %input#editDescription(type="text" name="description")
                %p Upload Poster Image
                %p
                  %input#editImageSrc(type="text" name="imagesrc")
                %p
                  %input(type="button" name="deleteImage" value="Delete Poster Image" onclick="this.form.imagesrc.value=''")
                %p
                  %input(type="submit" value="Save")
                  %input#removeCell(type="button" value="Remove Cell from Grid")
            #emptyCell.cell


  .sidebar.span4
    .form-inputs
      = render "admins/#{view_dir_for(f.object)}/form_content", f: f

      - if options[:publishing_logic]
        .bubblebox
          %section.publishing.bubble
            .page-header
              %h2= t('form.publish')
            = render 'admins/shared/publishing', f: f, resource: f.object #, no_publishing_end_date: true
