%section.primary-fields
  .main-content-wrapper.bubblebox
    .main-content.bubble
      .page-header
        %h2= t('form.basic_data')

      .row-fluid
        = f.input :title, input_html: {class: 'span12'}, wrapper_html: {class: 'span6'}
        = f.input :path, input_html: {class: 'span12'}, wrapper_html: {class: 'span6'}

      .row-fluid
        = f.input :description, as: :text, input_html: {class: 'span12', rows: 4}, wrapper_html: {class: 'span6'}
        = render 'admins/shared/upload_widget', form: f, method: :poster_image

      .row-fluid
        = f.input :width, input_html: {class: 'span12'}, wrapper_html: {class: 'span6'}
        = f.input :height, input_html: {class: 'span12'}, wrapper_html: {class: 'span6'}
