.row-fluid(id="availableContentCell_#{cell.id}" class="contentCell availableCell")
  .contentCellPosterImage.span1
    - if cell.poster_image
      -#TODO should be the actual poster_image in any case, but this would lead to too many 404 requests
      -#     slowing things down. Furthermore we should filter the available sets by type or something like that.
      -#     @see Case 26630
      - if File.exists?(cell.poster_image.path)
        = image_tag cell.poster_image.url
      - else
        = image_tag Cell.dummy_poster_image
  .span10
    %h5.contentCellTitle
      %span.badge= cell.type
      = cell.title
    %p.contentCellDescription= cell.description
