%tr(id="availableContentCell_#{cell.id}" class="contentCell availableCell cellTable ui-widget-content")
  %td(class='contentCellPosterImage thumbnail')
    = image_tag Cell.dummy_poster_image
    -#TODO should be the actual poster_image, but this would lead to too many requests
    -#     instead we should filter the available sets by type or something like that.
    -#     @see Case 26630
    -#- if cell.poster_image
    -#  = image_tag cell.poster_image.url
  %td(class='contentCellTitle')= cell.title
  %td(class='contentCellDescription')= cell.description
  %td(class='contentCellShowButton')= t('set.tabs.show_info')
