%section.primary-fields
  .main-content-wrapper.bubblebox
    .main-content.bubble
      .page-header
        %h2= t('form.basic_data')

      .row-fluid
        = f.input :title, input_html: {class: 'span12'}, wrapper_html: {class: 'span6'}
        = f.input :type, as: :select, collection: Cell::TYPES, include_blank: false, input_html: {class: 'span12'}, wrapper_html: {class: 'span6'}

      .row-fluid
        = f.input :description, as: :text, input_html: {class: 'span12', rows: 4}, wrapper_html: {class: 'span6'}
        = render 'admins/shared/upload_widget', form: f, method: :poster_image


%section.additional_fields
  .bubblebox
    .bubble
      .page-header
        %h2= t('form.additional_fields')

      .row-fluid.bar
        %span.span3
          Key
        %span.span6
          Value
        %span.span3.buttonfield
          = button_tag("Add", type: 'button', class: "add btn")

      %ul.fields
        - f.object.additional_fields.each_with_index do |pair, idx|
          - key, value = pair
          %li.field.row-fluid
            %span.span3
              = text_field_tag :key, key, name: "cell[additional_fields][][key]", id: nil
            %span.span9
              = text_field_tag :value, value, name: "cell[additional_fields][][value]", id: nil
