%h1 Listing cells

%table
  %tr
    %th Kind
    %th Title
    %th Description
    %th
    %th
    %th

  - @cells.each do |cell|
    %tr
      %td= cell.kind
      %td= cell.title
      %td= cell.description
      %td= link_to 'Show', cell
      %td= link_to 'Edit', edit_cell_path(cell)
      %td= link_to 'Destroy', cell, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Cell', new_cell_path
