= form_for @admins_grid_cell do |f|
  - if @admins_grid_cell.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admins_grid_cell.errors.count, "error")} prohibited this admins_grid_cell from being saved:"
      %ul
        - @admins_grid_cell.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :poster_image
    = f.text_field :poster_image
  .actions
    = f.submit 'Save'
