%h1 Listing admins_grid_cells

%table
  %tr
    %th Title
    %th Description
    %th Poster image
    %th
    %th
    %th

  - @admins_grid_cells.each do |admins_grid_cell|
    %tr
      %td= admins_grid_cell.title
      %td= admins_grid_cell.description
      %td= admins_grid_cell.poster_image
      %td= link_to 'Show', admins_grid_cell
      %td= link_to 'Edit', edit_admins_grid_cell_path(admins_grid_cell)
      %td= link_to 'Destroy', admins_grid_cell, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Grid cell', new_admins_grid_cell_path
