.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    %nav.container-fluid
      = link_to I18n.t('page.title'), admins_root_url, :class => "brand"

      %ul.nav
        %li.dropdown.score-switch
          %a.dropdown-toggle(href="#" data-toggle="dropdown")
            = MultiTenancy.current_score.name
            %b.caret
          %ul.dropdown-menu
            - @scores.all.each do |score|
              %li= link_to(score.name, score_root_path(score))
        = admin_navigation_left

      %ul.nav.pull-right
        %li.divider-vertical
        = admin_navigation_right
