- uploader = form.object.send method
- span_size = uploader.present? ? 7 : 12
= form.input method, as: :file, input_html: {class: 'span12'}, wrapper_html: {class: "span#{span_size}"}
= form.input :"#{method}_cache", :as => :hidden


- if uploader.present?
  .span5.poster-image-preview
    = image_tag form.object.send(method).thumb.url
    = link_to(cell_set_path(@cell_set, cell_set: {remove_poster_image: true}), :method => :put, :class => "btn btn-mini") do
      = t('record.with_class_name.delete', class_name: method.to_s.humanize)
