- uploader = form.object.send method
- span_size = uploader.present? ? 9 : 12
= form.input method, as: :file, input_html: {class: 'span12'}, wrapper_html: {class: "span#{span_size}"}
= form.input :"#{method}_cache", :as => :hidden


- if uploader.present?
  .span3
    = image_tag form.object.send(method).thumb.url
    %label
      = form.check_box :"remove_#{method}"
      = t('record.with_class_name.delete', class_name: method.to_s.humanize)
