= form_for @cell do |f|
  - if @cell.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cell.errors.count, "error")} prohibited this cell from being saved:"
      %ul
        - @cell.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :kind
    = f.text_field :kind
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
