<!DOCTYPE html>
%html{:lang => I18n.locale}
  %head
    %title= I18n.t('page_title') + (yield(:page_title).present? ? " - #{yield(:page_title)}" : '')

    = stylesheet_link_tag "admins"

    :plain
      <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    = csrf_meta_tags
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

  %body
    #wrap
      #page.container-fluid
        .session
          = render 'shared/flashes'
          = yield
