<!DOCTYPE html>
%html{:lang => I18n.locale}
  %head
    %title= t('page.title') + (yield(:page_title).present? ? " - #{yield(:page_title)}" : '')
    %meta(charset="utf-8")
    = stylesheet_link_tag "admins", media: "all", "data-turbolinks-track" => true
    - if content_for?(:custom_style)
      = stylesheet_link_tag yield(:custom_style), media: "all", "data-turbolinks-track" => true 

    = js_framework_settings
    = javascript_include_tag "admins", "data-turbolinks-track" => true
    = javascript_include_tag yield(:custom_script), "data-turbolinks-track" => true if content_for?(:custom_script)
    = javascript_tag yield(:custom_javascript) if content_for?(:custom_javascript)


    :plain
      <!--[if lt IE 9]>
        #{ javascript_include_tag "/vendor/html5shiv.js" }
      <![endif]-->

      <!--[if (gte IE 6)&(lte IE 8)]>
        #{ javascript_include_tag "/vendor/selectivizr-min" }
      <![endif]-->

    = csrf_meta_tags
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %body
    #wrap
      = render 'admins/shared/navigation'

      = render 'shared/flashes'

      #page.container-fluid
        = yield
