<!DOCTYPE html>
%html{:lang => I18n.locale}
  %head
    %title= t('page.title') + (yield(:page_title).present? ? " - #{yield(:page_title)}" : '')
    %meta(charset="utf-8")
    = stylesheet_link_tag "admins", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "admins", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = yield
